.contact-info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background: #00bc8c;
    p{
        width: 15%;
        color: aliceblue;
        text-align: center;
    }
}